body {
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background-color: #8d12a5;
    }

figure {
    background-color: #e5caeb;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(145, 51, 51, 0.349);
    text-align: center;
    }

h1 {
    color: #333;
    margin-bottom: 15px;
    }

p {
    color: #333;
    line-height: 1.6;
    margin-bottom: 20px;
    }

a, button {
    background-color: #63064449;
    color: #050a52;
    border: none;
    padding: 20px;
    border-radius: 15px;
    cursor: pointer;
    text-decoration: none;
    display: block;
    }

img {
    max-width: 100%;
    height: 200px;
    display: block; 
    margin-bottom: 10px; 
    }
